// Navigation code here

nav {
    max-width: 1000px;
    margin: 0 auto;
    .centering();
    align-content: center;
    flex-direction: column;
    background-color: @footer-background;

    h1 {
        font-size: 4rem;
        .textpadding ();
    }

    .nav-items {
        .centering();


        a {
            text-decoration: none;
            font-size: 1.6rem;
            padding: 10px 1.5%;
            color: @header-font-color;
        }
    }
}